$TTL 86400
@   IN  SOA ns1.{{ domain }}. admin.{{ domain }}. (
        2025012101 ; Serial
        3600       ; Refresh
        1800       ; Retry
        604800     ; Expire
        86400 )    ; Minimum TTL
    IN  NS  ns1.{{ domain }}.

{% for host in groups['all'] %}
{{ hostvars[host]['ansible_host'].split('.')[3] }}   IN  PTR  {{ host }}.{{ domain }}.
{% endfor %}

; Reverse entry for API
{{ api_ip.split('.')[3] }}   IN  PTR  api.{{ cluster_name }}.{{ domain }}.

; Reverse entry for API-INT
{{ api_ip.split('.')[3] }}   IN  PTR  api-int.{{ cluster_name }}.{{ domain }}.

; Reverse entry for Ingress
{{ ingress_ip.split('.')[3] }}   IN  PTR  apps.{{ cluster_name }}.{{ domain }}.
